-w /etc/rancher/rke2/ -p wa -k codegate-rke2-config
-w /var/lib/rancher/rke2/server/cred/ -p wa -k codegate-rke2-credentials
-w /var/lib/rancher/rke2/server/tls/ -p wa -k codegate-rke2-tls
-w /etc/keepalived/ -p wa -k codegate-ha-config
-w /etc/haproxy/ -p wa -k codegate-ha-config

