server: {{ ('https://' ~ rke2_ha_vip ~ ':9345') | to_json }}
token: {{ rke2_token | to_json }}
node-name: {{ inventory_hostname | to_json }}
node-ip: {{ ansible_host | to_json }}
data-dir: {{ rke2_data_dir | to_json }}

